.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.sidebar input {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar ul li img.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.chat-header {
  background-color: #f4f4f4;
  padding: 10px;
  display: flex;
}

.message {
  display: inline-block; /* Makes the message width fit the content */
  max-width: 60%; /* Limit the maximum width for readability */
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  word-wrap: break-word; /* Ensure long words wrap */
}

.message.sent {
  background-color: #0084ff;
  text-align: right;
  color: white;
  align-self: flex-end; /* Align the sent message to the right */
}

.message.received {
  background-color: #cee1ef;
  text-align: left;
  align-self: flex-start; /* Align the received message to the left */
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Optional: Adds spacing between messages */
  padding: 10px;
  background-color: #fafafa;
  /* overflow-y: 100%; Enable vertical scrolling */
  height: 90%;
}


.message-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.message-input input {
  flex: 1;
  padding: 10px;
}

.message-input button {
  padding: 10px;
  background-color: #0084ff;
  color: white;
  border: none;
  cursor: pointer;
}

.profile-card {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-card img {
  width: 80%;
  /* height: 100px; */
  border-radius: 5%;
  margin-bottom: 10px;
}
